body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(221deg, #4b7998, #254961, #a951c3, #a8245e);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 81% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 81% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 81% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 81% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 81% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 81% 0%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
